:root {
  --border-color: #bada55;
  --site-default-border: 1px solid var(--border-color);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  width: 960px;
  margin: 0 auto;

  border: 1px solid black;
}

main {
  border: 1px solid red;
}

.card {
  float: left;
  width: 200px;

  border: var(--site-default-border);
  border-radius: 5px;

  text-align: center;
}

/*Clearfix*/
main::after {
  content: '';
  display: table;
  clear: both;
}

.card-header {
  border-bottom: var(--site-default-border);
}

.card-footer {
  padding: 10px;

  border-top: var(--site-default-border);
}
