/* float */
.floatBox {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(207, 232, 220);
    padding: 1em;
}

/* clear */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

/* static */
div.static {
    position: static;
    border: 3px solid #73AD21;
}

/* relative  */
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

/* fixed */
div.fixed {
    position: fixed;
    top: 0;
    left: 5px;
    width: 300px;
    background-color: #7CA049;
}

/* absolute */
div.relativeWithAbsolute {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #7CA049;
}

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #7CA049;
}

/* sticky */
div.sticky {
    position: sticky;
    bottom: 0;
    background-color: #7BA77B;
    border: 2px solid #3d5a16;
}

/* z-index */
.grey_box {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    position: relative;
    z-index: 9999;
}

.blue_box {
    width: 100px;
    height: 100px;
    background-color: #8daac3;
    position: relative;
    z-index: 500;
    top: -30px;
    left: 20px;
}

.gold_box {
    width: 100px;
    height: 100px;
    background-color: #ba945d;
    position: relative;
    z-index: 1;
    bottom: 50px;
}

h2.a {
    visibility: visible;
}

h2.b {
    visibility: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#main {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
}

#main div {
    width: 70px;
    height: 70px;
}

#mainAlign {
    width: 220px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#mainAlign div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#mainAlignSelf {
    width: 220px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
}

#mainAlignSelf div {
    flex: 1;
}

#myBlueDiv {
    align-self: center;
}

#mainFlexGrow {
    width: 350px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
}

#mainFlexGrow div:nth-of-type(1) {
    flex-grow: 1;
}

#mainFlexGrow div:nth-of-type(2) {
    flex-grow: 3;
}

#mainFlexGrow div:nth-of-type(3) {
    flex-grow: 1;
}

#mainFlexGrow div:nth-of-type(4) {
    flex-grow: 1;
}

#mainFlexGrow div:nth-of-type(5) {
    flex-grow: 1;
}

#mainFlexShrink {
    width: 100%;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
}

#mainFlexShrink div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}

#mainFlexShrink div:nth-of-type(2) {
    flex-shrink: 3;
}

#mainFlex {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    display: flex;
}

#mainFlex div {
    flex: 1;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 100px auto 100px; */
    /* grid-template-columns: auto auto;  */
    /* grid-template-rows: repeat(5, 100px); */
    /* grid-auto-rows: 150px; */

    /* grid-template-columns: 100px 100px;
    grid-auto-flow: column; */

    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);

    background-color: #2196F3;
    padding: 10px;
    grid-gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item-5 {
    grid-column: span 2;
    grid-row: span 2;
}

.item-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.item-8 {
    grid-column: 1 / -1;
    /* grid-row: 3 / span 3 */
}

.grid-container-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fit,  minmax(100px, 1fr)); */
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 20px;
}

.grid-item-auto {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.item1-area {
    /* grid-area: header1;
    grid-area: content3; */
    grid-area: footer2;
}

.grid-container-area {
    display: grid;
    grid-template-areas: 'header1 header2 header3' 'content1 content2 content3' 'footer1 . footer2';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-container-area>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#myDIVAutoFlow {
    height: 300px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: dense;
    display: grid;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

#myDIVAutoFlow div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item3AutoFlow {
    grid-column: auto / span 2;
}

#exampleJustifyItems {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: start;
    background-color: #cccccc;
}

#exampleJustifyItems>div {
    padding: 10px;
    font-size: 20px;
    color: white;
    width: 100px;
    height: 50px;
}

.oneJustifyItems {
    background-color: #1c87c9;
}

.twoJustifyItems {
    background-color: #8ebf42;
}

.threeJustifyItems {
    background-color: #666666;
}

.grid-container-align-items {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.grid-container-align-items > div {
    border: 1px solid blue;
}
