div.example1,
div.example2,
div.example3 {
    background-color: yellow;
    padding: 20px;
}

/* @media screen and (max-width: 600px) {
    div.example1 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    div.example2 {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    div.example3 {
        display: none;
    }
} */

@media screen and (max-width: 600px) {
    div.example1 {
        display: none;
    }

    div.example2 {
        display: block;
    }

    div.example3 {
        display: none;
    }
}

